
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    margin-left: 25%;
    height: 100vh;
}

/*...........LINHA 1.................*/
header{
    width: 50vw;
    margin: 0px;
}


.main-cabecalho{
    display: flex;
    width: 50vw;
}

.div-img1{
    margin-bottom: -4px;
}

.img-1{
    width: 50vw;
    margin-top: -60px;
    position: relative;
    z-index: -1;
}

/*............LINHA 2.................*/

article{
    width: 50vw;
}

.linha-2{
    display: flex;
    width: 50vw;
    margin-bottom: -4px;
}

.esquerdo-linha2{
    width: 25vw;
}

.img-ovo{
    width: 25vw;
}

/*............LINHA 3.................*/

.linha-3{
    display: flex;
    width: 50vw;
    margin-bottom: -4px;
}

.direito-linha3{
    width: 25vw;
}

.img-copo-rosa{
    width: 25vw;
}

/*............LINHA 4..............*/
.linha-4{
    display: flex;
    width: 50vw;

}

.artigo-esquerdo-linha4{
    width: 25vw;
    position: relative;
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-acerola{
    width: 25vw;
    z-index: -1;
}

.artigo-direito-linha4{
    width: 25vw;
    position: relative;
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-laranja{
    width: 25vw;
}

/*...........PERSONAGENS............*/

.container-personagens{
    width: 50vw;
    height: 50vh;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Client-testimonials{
    display: flex;
    justify-content: center;
}

.personagens{
    display: flex;
}

/*...........PRODUTOS...............*/
.produtos{
    width: 50vw;
}

.container-produtos{
    background-color: aqua;
    
    
}

.container-produtos img{

}

.img-leite{
    width: 12vw;
}

.img-mixirica{
    width: 12vw;
}

.img-casquinha{
    width: 12vw;
}

.img-cubos{
    width: 12vw;
}

/*............FOOTER.............*/

.attribution {
     font-size: 11px;
     
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
